# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      typescript-tooling:
        patterns:
          - "typescript"
          - "@types/*"
      lsp-packages:
        patterns:
          - "vscode-languageserver*"
          - "vscode-languageclient"
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "weekly"
    groups:
      typescript-tooling:
        patterns:
          - "typescript"
          - "@types/*"
      lsp-packages:
        patterns:
          - "vscode-languageserver*"
          - "vscode-languageclient"
  - package-ecosystem: "npm"
    directory: "/server"
    schedule:
      interval: "weekly"
    groups:
      typescript-tooling:
        patterns:
          - "typescript"
          - "@types/*"
      lsp-packages:
        patterns:
          - "vscode-languageserver*"
          - "vscode-languageclient"
  - package-ecosystem: "npm"
    directory: "/packages/npm"
    schedule:
      interval: "weekly"
    groups:
      typescript-tooling:
        patterns:
          - "typescript"
          - "@types/*"
      lsp-packages:
        patterns:
          - "vscode-languageserver*"
          - "vscode-languageclient"
